body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #000000;
    margin: 0;
    padding: 0;
}

header {
    background-color: #85347a;
    color: white;
    padding: 15px;
    text-align: center;
}

a {
    color: #85347a;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.main-content {
    padding: 20px;
}

button {
    background-color: #85347a;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #85347a;
}
